# 设置 Electron 的淘宝镜像源
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_custom_dir={{ version }}

# 关闭 SSL 严格验证 (解决证书报错)
strict-ssl=false

# (可选) 设置 npm 包的淘宝源，下载更快
registry=https://registry.npmmirror.com